<% if logged_in? %>
<% if current_user.id == @user.id %>
    <h1>Mi perfil</h1>
<% else %>
    <h1>Perfil de <%= @user.username %></h1>
<% end %>
<div class="perfil">
    <div class="wrap-perfil-estadisticas">
        <div class="imagen-perfil">
            <%= @user.username[0].upcase %>
        </div>
        <div class="estadistica" id="link-listas">
            <div class="estadistica-numero">
                <%= lists_from_user(@user.id).count %>
            </div>
            <div class="estadistica-titulo">
                Listas
            </div>
        </div>
        <div class="estadistica" id="link-recetas">
            <div class="estadistica-numero">
                <%= recipes_from_list(@mis_recetas).count %> 
            </div>
            <div class="estadistica-titulo">
                Recetas
            </div>
        </div>
        <div class="estadistica" id="link-siguiendo">
            <div class="estadistica-numero">
                <%= followed_from_user(@user.id).count %>
            </div>
            <div class="estadistica-titulo">
                Siguiendo
            </div>
        </div>
        <div class="estadistica" id="link-seguidores">
            <div class="estadistica-numero">
                <%= follower_from_user(@user.id).count %>
            </div>
            <div class="estadistica-titulo">
                Seguidores
            </div>
        </div>
    </div>
    <div class="wrap-span">
        <span>Nombre de usuario: <%= @user.username %></span>
    </div>
    <div class="wrap-span">
        <span>Correo electrónico: <%= @user.email %></span>
    </div>
    <% if current_user.id != @user.id %>
        <div class="wrap-span">
            <% if is_following?(current_user.id, @user.id) %>
                <%= link_to unfollow_path(:id_current => current_user.id, :id_unfollow => @user.id) do %>
                    <i class='fas fa-user-minus'></i> dejar de seguir
                <% end %>
            <% else %>
                <%= link_to follow_path(:id_current => current_user.id, :id_follow => @user.id) do %>
                    <i class='fas fa-user-plus'></i> seguir
                <% end %>
            <% end %>
        </div>
    <% end %>
    <div class="wrap-sliders">
        <div class="slider" id="slider-listas">
            <h2>Listas</h2>
            <ul>
                <% user_related_lists(@user.id).each do |list| %>
                    <div class="wrap-li">
                        <li>
                            <div class="wrap-list-stats">
                                <div class="wrap-stat justify-left">
                                    <i class='fas fa-book'></i> <%= list.name %>
                                </div>
                                <div class="wrap-stat justify-center">
                                    <i class='fas fa-utensils'></i> <%= recipes_from_list(list).count %>
                                </div>
                                <div class="wrap-stat justify-right">
                                    <i class='fas fa-star'></i> <%= "%g" % ("%.2f" % rating_from_list(list)) %>
                                </div>
                            </div>
                            <div class="wrap-list-stats">
                                <div class="wrap-stat justify-left">
                                    <% if !is_my_list?(current_user.id, list.id) %>
                                        <% if is_following_list?(current_user.id, list.id) %>
                                            <%= link_to unfollow_list_path(:id_current => current_user.id, :id_unfollow => list.id) do %>
                                                <i class='fas fa-minus'></i> dejar de seguir lista
                                            <% end %>
                                        <% else %>
                                            <%= link_to follow_list_path(:id_current => current_user.id, :id_follow => list.id) do %>
                                                <i class='fas fa-plus'></i> seguir lista
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </li>
                    </div>
                <% end %>
            </ul>
        </div>
        <div class="slider hidden" id="slider-recetas">
            <h2>Recetas</h2>
            <ul>
                <% recipes_from_list(@mis_recetas).each do |recipe| %>
                    <div class="wrap-li">
                        <li>
                            <div class="wrap-imagen-info">
                                <div class="imagen-li">
                                    <%= image_tag recipe.url_img %>
                                </div>
                                <div class="wrap-info">
                                    <div><%= recipe.name %></div>
                                    <div><i class='fas fa-users'></i> <%= recipe.people %></div>
                                    <div><i class='fas fa-clock'></i> <%= recipe.duration %> min</div>
                                    <div><i class='fas fa-star'></i> <%= "%g" % ("%.2f" % rating_from_recipe(recipe.id)) %></div>
                                </div>
                            </div>
                        </li>
                    </div>
                <% end %>
            </ul> 
            
        </div>
        <div class="slider hidden" id="slider-siguiendo">
            <h2>Siguiendo</h2>
            <ul>
                <% followed_from_user(@user.id).each do |followed| %>
                    <div class="wrap-li">
                        <li>
                            <div class="wrap-imagen-info">
                                <%= link_to profile_path(:id => followed.id) do %>
                                    <div class="imagen-perfil">
                                        <%= followed.username[0].upcase %>
                                    </div>
                                <% end %>
                                <div class="wrap-follow-button">
                                    <%= link_to profile_path(:id => followed.id) do %>
                                        <div><%= followed.username %></div>
                                    <% end %>
                                    <% if current_user.id != followed.id %>
                                        <% if is_following?(current_user.id, followed.id) %>
                                            <%= link_to unfollow_path(:id_current => current_user.id, :id_unfollow => followed.id) do %>
                                                <i class='fas fa-user-minus'></i>
                                            <% end %>
                                        <% else %>
                                            <%= link_to follow_path(:id_current => current_user.id, :id_follow => followed.id) do %>
                                                <i class='fas fa-user-plus'></i>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </li>
                    </div>
                <% end %>
            </ul>
        </div>
        <div class="slider hidden" id="slider-seguidores">
            <h2>Seguidores</h2>
            <ul>
                <% follower_from_user(@user.id).each do |follower| %>
                    <div class="wrap-li">
                        <li>
                            <div class="wrap-imagen-info">
                                <%= link_to profile_path(:id => follower.id) do %>
                                    <div class="imagen-perfil">
                                        <%= follower.username[0].upcase %>
                                    </div>
                                <% end %>
                                <div class="wrap-follow-button">
                                    <%= link_to profile_path(:id => follower.id) do %>
                                        <div><%= follower.username %></div>
                                    <% end %>
                                    <% if current_user.id != follower.id %>
                                        <% if is_following?(current_user.id, follower.id) %>
                                            <%= link_to unfollow_path(:id_current => current_user.id, :id_unfollow => follower.id) do %>
                                                <i class='fas fa-user-minus'></i>
                                            <% end %>
                                        <% else %>
                                            <%= link_to follow_path(:id_current => current_user.id, :id_follow => follower.id) do %>
                                                <i class='fas fa-user-plus'></i>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                        </li>
                    </div>
                <% end %>
            </ul>
        </div>
    </div>
</div>
<%= javascript_include_tag "application", "data-turbo-track": "reload" %>
<% end %>
