<<<<<<< HEAD
<h1>Registrate</h1>
=======
<h1>Registro</h1>
>>>>>>> 67579417d1a32457af06d5c1d5d2fba97b80b03a

<%# render "form", user: @user %> 

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Registrarse"%>
<% end %>

<br>

<div class="centrar">
  <%= link_to "¿Ya tienes cuenta? Iniciar sesión", users_path %>
</div>
