<%= form_with(model: followed_list) do |form| %>
  <% if followed_list.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(followed_list.errors.count, "error") %> prohibited this followed_list from being saved:</h2>

      <ul>
        <% followed_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :list_id, style: "display: block" %>
    <%= form.text_field :list_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
