<!DOCTYPE html>
<html>

<head>
    <title>Let's Cook It</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "base" %>
    <%= javascript_include_tag "https://kit.fontawesome.com/a076d05399.js", "data-turbo-track": "reload" %> 
</head>

<body>
    <div class="wrap-navbar-main">
        <div class="wrap-navbar-logo">
            <div class="wrap-div">
                <div class="wrap-logo">
                    <%= link_to root_path do %>
                        <%= image_tag "/logo.png" %>
                    <% end %>
                </div>
                <nav>
                    <ul>
                        <% if logged_in? %>
                            <li class="navbar-section"> <%= link_to "Ver perfil", profile_path %> </li>
                            <li class="navbar-section"> <%= link_to "Cerrar sesión", logout_path %> </li>
                        <% else %>
                            <li class="navbar-section"> <%= link_to "Iniciar sesión", login_path %> </li>
                            <li class="navbar-section"> <%= link_to "Regístrarse", register_path %> </li>
                        <% end %>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="main-container">
            <div class="lateral">
                <div class="content">
                </div>
            </div>
            <div class="central">
                <div class="content">
                    <%= yield %>
                </div>
            </div>
            <div class="lateral">
                <div class="content">
                </div>
            </div>
        </div>
    </div>
</body>

</html>
